.jumbotron {
  background-image: image-url('top_mv.jpg');
  background-size: cover;
  background-position: center 60%;

  .cl-top_title_contents {
    color: white;
  }
}

.cl-top_body {
  .card {
    max-width: 25rem;
    
    .card-img-top {
      height: 12rem;
    }
  
    i {
      padding: 0 0.5rem;
    }
  }
}