@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #F0F1F7;
}

.cl-btn_primary {
  background-color: #2B84D3;
  box-shadow: 0 4px 0 #0078BD;
  
  display: inline;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 10px 80px;
  margin: 0.5em 0;
}

.favorite-button {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  font-size: 12px;
  padding: 0.2rem;
  border-radius: 20px;
  background: #fff;
  border: 1px solid rgba(112, 112, 112, 0.49);

  .fa-heart {
    color: red;
  }
}

.button-wrapper {
  display: inline-block;

  .btn:disabled {
    pointer-events: none;
  }
}