.cl-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .center-box {
    width: 100%;
    max-width: 85%;
    min-height: 450px;
    margin: 2em auto 2em;
    padding: 40px 40px 30px;
    border-radius: 15px;
    border: solid 1px #707070;
    background-color: #fff;
    position: relative;
  }

  table{
    width: 100%;
    table-layout: fixed;
  }
}

/* 必須マーク */
.must {
	background: #FF1A00;
}

/* 任意マーク */
.free {
	background: #999;
}

.must,
.free {
	color: #FFF;
	border-radius: 3px;
	font-size: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
	padding: 0.2rem 0.5rem;
	letter-spacing: 0.2em;
}