javascript:
  // カレンダー設定
  $(function () {
    // 画面遷移を検知
    $(document).on('turbolinks:load', function () {
        if ($('#calendar').length) {

            function Calendar() {
                return $('#calendar').fullCalendar({
                });
            }
            function clearCalendar() {
                $('#calendar').html('');
            }

            $(document).on('turbolinks:load', function () {
                Calendar();
            });
            $(document).on('turbolinks:before-cache', clearCalendar);

            //events: '/events.json', 以下に追加
            $('#calendar').fullCalendar({
                events: "new.json?expert_id=#{@expert.id}",
                //カレンダー上部を年月で表示させる
                titleFormat: 'YYYY年 M月',
                //曜日を日本語表示
                dayNamesShort: ['日', '月', '火', '水', '木', '金', '土'],
                //ボタンのレイアウト
                header: {
                    left: '',
                    center: 'title',
                    right: 'today prev,next'
                },
                //終了時刻がないイベントの表示間隔
                defaultTimedEventDuration: '03:00:00',
                buttonText: {
                    prev: '前',
                    next: '次',
                    prevYear: '前年',
                    nextYear: '翌年',
                    today: '今日',
                    month: '月',
                    week: '週',
                    day: '日'
                },
                // Drag & Drop & Resize
                editable: true,
                //イベントの時間表示を２４時間に
                timeFormat: "HH:mm",
                //イベントの色を変える
                eventColor: '#87cefa',
                //イベントの文字色を変える
                eventTextColor: '#000000',
                eventRender: function(event, element) {
                    element.css("font-size", "0.8em");
                    element.css("padding", "5px");
                }
            });
        }
    });
  });

.container
  .center-box
    = form_with model: [current_client, @consultation], url: clients_consultations_path, builder: CustomFormBuilder, local: true do |f|
      .mx-auto
        .cl-expert_consul_info
          h3.cl-expert_title 相談予約フォーム
          = f.hidden_field :expert_id, value: @expert.id
          .form-group.col-10.col-md-4.offset-md-1
            = f.label :trouble_tag_id, "相談項目"
            = f.collection_select :trouble_tag_id, TroubleTag.all, :id, :name, {prompt: "-- 選択してください --"}, class: "form-control"
          .form-group.col-10.col-md-10.offset-md-1
            = f.label :content, "相談内容"
            = f.text_area :content, class: "form-control", size: "40x5"
          .form-group.col-10.col-md-10.offset-md-1
            = f.label :start_event_time, "相談希望時間"
            br
            = f.datetime_select :start_event_time, {use_month_numbers: true, start_year: Time.now.year},{ id: 'ymd-date'}
          .col-12.col-md-10.mx-auto.my-5
            h5 相談予約状況
            #calendar
          .cl-consul_actions.text-center.mt-3
            = f.submit "予約を確定する", class: "btn btn-success col-md-2 mx-2"
            = link_to "戻る", :back, class: "btn btn-info col-md-2 mx-2 my-2"